<h1> <%= @restaurant.name %> </h1>
<h3> <%= @restaurant.address %> - Cuisine: <%= @restaurant.category %> </h3>
<h4> Phone number: <%= @restaurant.phone_number %></h4>
<%= link_to "Back to restaurants", restaurants_path, class: "btn btn-success" %>
<%= link_to "Add review", new_restaurant_review_path(@restaurant), class: "btn btn-warning" %>
<h2>Recent reviews: </h2>
<%  @reviews.each do |review|  %>
  <h3> Rating: <%= review.rating %>/5 </h3>
  <h3> <%= review.content  %></h3>
<% end %>
